*
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-align: center;
}
html, body
{
    height: 100%;
    background-color: #6D8299;
}
.wrapper
{
    display: grid;
    min-height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 20rem auto 12rem;
}
/* Grid */
/* nav
{    
    Placeholder
    grid-row: 2/3;
    grid-column: 1/3;
    background: #D5BFBF;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: sticky;
    top: 0;
}
nav a
{
    Placeholder
    padding: 1rem;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:white;
    text-shadow: black 0.8px 0.8px;
} */
.main
{
    grid-row: 1/2;
    grid-column: 1/3;

}
.products
{
    grid-row: 2/3;
    grid-column: 1/3;

    
}
/* footer
{
    Placeholder
    grid-row: 3/4;
    grid-column: 1/2;
    background: #D5BFBF;
} */


button{
    font-weight: bold;
    font-size: larger;
    background-color: lightblue;
    color: blue;
    border-radius: 10em;
    padding: 1rem;
}
button:hover{
    background-color: blue;
    color: lightblue;
}
button:active{
    color: white;
    background-color: black;
}

div{
    margin: 3rem;
    padding: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    border: solid 3px blue;
}

input {
    margin: 1rem;
    font-size: larger;
}